rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /devices/{installationId} {
      allow read, write: if true;

      match /upcomingExpenses/{expenseId} {
        allow read, write: if true;
      }
    }
  }
}
